:root {
    --accent-coldsc: #5865F2;
    /* Discord Blurple */
    --accent-coldsc-dark: #5865F2;
    /* Darker Blurple */
    --accent-coldsc-light: #5971c8;
    /* Lighter Blurple */

    --accent-col: #2C2F33;
    /* Dark but not Black */
    --accent-col-dark: #2C2F33;
    /* Not Quite Black */
    --accent-col-light: #2b2b2b;
    /* Greyple */

    --statusCol: #43B581;
    /* Online */
    --statusCol-online: #43B581;
    /* Online */
    --statusCol-dnd: #F04747;
    /* Do Not Disturb */
    --statusCol-idle: #FAA61A;
    /* Idle */
    --statusCol-offline: #747F8D;

    --statusSYM: '🟢';
    /* Online */
    --statusSYM-online: '🟢';
    /* Online */
    --statusSYM-dnd: '🔴';
    /* Do Not Disturb */
    --statusSYM-idle: '🟠';
    /* Idle */
    --statusSYM-offline: '⚪';

    --artist-info: none;
    /* Offline */

}

.discord_card {
    width: 85vw;
    /* min-width: 439.2px; */
    max-width: 677px;
    height: 278px;
    padding: 20px;
    margin: 20px;
    background-color: var(--accent-coldsc);
    transform-origin: left center;
    /* transform: translateX(9.5%); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    /* position: absolute; */
    /* box-shadow: 0 0 60px var(--accent-coldsc); */
    transition: background 0.3s ease-out;
    overflow: hidden;
    user-select: none;
    position: relative;
}


.discord_card_avatar {
    width: 152px;
    height: 152px;
    /* max-width: 12vw; */
    object-fit: cover;
    border-radius: 152px;
    border: 4px solid var(--statusCol);
    filter: drop-shadow(1px 1px 60px var(--statusCol));
    position: absolute;
    left: 20px;
}

.discord_card_username {
    color: var(--txt-col);
    font-family: graffiti-bold;
    font-size: 60px;
    font-weight: 600;
    z-index: 100;
}


.discord_card_activities,
.discord_card_activity {
    color: var(--txtcol);
    font-family: graffiti-bold;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #99AAB5;
}


.activity_cont {
    background-color: var(--accent-col);
    border-radius: 10px 0 0 10px;
    /* Consolidated border-radius */
    /* padding: 5px; */
    display: flex;

    width: 30%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    /* position: relative; */
    /* left: 3.181818182px; */
}

/* .discor */

.activity_info {
    background-color: var(--alphacol);
    border-radius: 0 10px 10px 0;
    width: 70%;
    /* box-shadow: inset 20px 0 15px -1px var(--accent-col); */
    padding: 5px;
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: var(--accent-col) 2px solid;
    /* font-family: ; */
}

.discord_card_spotify {
    padding: 5px;
    font-family: graffiti-bold;
    color: var(--txtcolinv);
    font-size: 10px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    overflow-x: visible;
    /* Changed to hidden to control overflow */
    scrollbar-width: none;
    text-align: left;
    /* Changed to left to start text animation from left */
    font-size: 10px;
    /* Specified small font size */
    /* color: #99AAB5; */
    white-space: nowrap;
    /* Ensure text does not wrap to next line */

    /* Adding keyframes for continuous text animation */

    /* Applying animation to this block, making sure it loops infinitely and pauses on hover */
    /* Adjust the duration (10s) as needed to control the speed */

    /* Pause animation on hover */
    animation: none;

    &:hover {
        animation-play-state: paused;
    }
}



.discord_card_activities {
    padding: 5px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    /* overflow-x: visible;
     */

    /* Changed to hidden to control overflow */
    scrollbar-width: none;
    text-align: left;
    /* Changed to left to start text animation from left */
    font-size: 10px;
    /* Specified small font size */
    color: #99AAB5;
    white-space: nowrap;
    /* Ensure text does not wrap to next line */

    /* Adding keyframes for continuous text animation */

    /* Applying animation to this block, making sure it loops infinitely and pauses on hover */
    animation: slideText 5s linear infinite ;
    ;
    /* Adjust the duration (10s) as needed to control the speed */

    /* Pause animation on hover */
    &:hover {
        animation-play-state: paused;
    }

    /* overflow: visible; */

    /* font-size: clamp(0px, 2vw, 2px); */
}


.discord_button {
    color: var(--txtcolinv);
    font-family: graffiti-bold;
    font-size: 10px;
    font-weight: 600;
    background-color: var(--alphacol);
    border-radius: 0 10px 10px 0;
    width: 70%;

    padding: 5px;
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--accent-col) 2px solid;

    /* white-space: nowrap; */
}

.uid {
    transform: translateY(25%);
    /* overflow: visible; */
    font-size: medium;
    color: #99aab5;
    font-family: kbd;
    /* font-size: 30px; */
    /* font-weight: 600; */

}

.single_line,
.card_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.uid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-shadow: none;
    padding: 2px;
    height: fit-content;
    border-radius: 4px;
    background-color: var(--accent-col);
    opacity: 75%;

    transform: translateX(25%) translateY(125%);
    /* border: 4px solid var(--statusCol);
    box-shadow: 0 0 40px var(--statusCol); */
}

* {
    transition: background 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, transform 0.3s ease-out;
}

.discord_button:hover {
    bottom: 95px;
    /* transform: translateY(15%);? */
    box-shadow: none;

}

.discord_button {
    border-radius: 10px;
    bottom: 105px;
    box-shadow: 0 5px 0 0 #20244b;
    white-space: nowrap;

    padding: none;
    border-radius: 6px;
    max-width: 100%;
    position: absolute;
    /* bottom: 90px; */
    height: 40px !important;
    width: 109px !important;
    right: 20px;
    background-color: #323878;
    color: #c3ced5;
    transform: scale(1.5) !important;
    position: absolute;
    right: 50px;
}

.small-a {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-shadow: none;
    text-decoration: none;

}

.activities {
    height: 40px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    /* border: #F04747 2px solid; */
    width: 333px;
}

.card_holder {
    width: calc(25 / 100 * 85vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 20px;

}

.discord_card_username {
    font-size: 69px;
    position: absolute;
    /* transform-origin: left center ; */
    /* transform: translateX(calc(12.5 / 100 * 85vw)); */
    left: 30%;
    top: 20px;
    z-index: auto;
    /* border: 1px solid red; */
}

.uid,
.symbol {
    position: absolute;
    /* font-size: 59px; */
    /* transform: translateY(300%) translateX(calc(-12.5 / 100 * 85vw)); */
    left: 30%;
    top: 69px;
}

.symbol {
    display: none;
}

@media (max-width: 787px) {

    .discord_card_avatar {
        display: none;
    }

    .symbol {
        display: block;
        /* border: yellow 10px solid; */
        position: absolute;
        top: 60px;
        z-index: 100;
        width: 30px;
        height: 30px;
    }

    .sym {
        background: var(--statusCol);
        -webkit-background-clip: text;
        font-size: large;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        /* color: var(--statusCol); */
        position: absolute;
        left: -50%;
        z-index: 100;
        width: 30px;
        height: 30px;
        filter: drop-shadow(0 0 15px var(--statusCol)) drop-shadow(0 0 40px var(--statusCol)) drop-shadow(0 0 65px var(--statusCol));
        /* border: var(--statusCol) 2px solid; */
    }

    .discord_card_username {
        font-size: 69px;
        position: absolute;
        /* transform-origin: left center ; */
        /* transform: translateX(calc(12.5 / 100 * 85vw)); */
        left: 20px;
        top: 0;
        z-index: auto;
        /* border: 1px solid red; */
    }


    .uid,
    .symbol {
        position: absolute;
        /* font-size: 59px; */
        /* transform: translateY(300%) translateX(calc(-12.5 / 100 * 85vw)); */
        left: 10px;
        top: 49px;
    }

    .symbol {

        left: 257px;
        top: 47px;
        border: none !important;
        filter: drop-shadow(1px 1px 60px var(--statusCol));

    }

    .activities {
        position: absolute;
        bottom: 40px;
        right: 20px;
        padding: none;
        /* border: #F04747 2px solid; */
        width: 333px;
    }

    .discord_button {
        transform: scale(1.5) !important;
        position: absolute;
        right: 50px;
        /* bottom: 95px; */

    }

    .discord_card {
        /* background: var(--bg-img) #00000081;  */
    }
}

.discord_card_spotify::after {
    content: var(--artist-info);
}

.song_info {
    /* border: #F04747 2px solid; */
    /* width: 70%; */
    position: absolute;
    bottom: -35px;
    right: 0px;
    height: 30px;
    color: var(--txtcolinv);
    font-family: graffiti-bold;
    font-size: 7px;
    font-weight: 600;
    background-color: var(--alphacol);
    border-radius: 10px;
    width: 69.5%;

    /* padding: 5px; */
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--accent-col) 2px solid;
    overflow: hidden;


}

.play_song {
    /* width: 35%; */
    position: absolute;
    bottom: -35px;
    left: 0;
    height: 30px;
    color: var(--txtcolinv);
    font-family: graffiti-bold;
    font-size: 7px;
    font-weight: 600;
    background-color: var(--alphacol);
    border-radius: 10px;
    width: 29.5%;

    /* padding: 5px; */
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--accent-col) 2px solid;
    overflow: hidden;
}

.play_song_button {
    width: 100%;
    height: 100%;
    background-color: #323878;
    color: #c3ced5;
    font-family: graffiti-bold;
}

.artistinfo {
    /* background-color: var(--alphacol); */
    border-radius: 0 10px 10px 0;
    width: 100%;
    color: var(--txtcolinv);
    font-family: graffiti-bold;
    font-size: 7px;
    font-weight: 600;
    white-space: nowrap;
    padding: 5px;
    /* max-width: 50%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: left;
    overflow: show;
    /* border: var(--accent-col) 2px solid; */
    animation: none;
    /* Adjust the duration (10s) as needed to control the speed */

    /* Pause animation on hover */
    &:hover {
        animation-play-state: paused;
    }
}

.invis {
    display: none;
}

.dsc {
    size: 100px;
}

@keyframes slideText {
    0% {
        transform: translateX(150%);
        /* width: 100%; */
    }

    

    100% {
        /* width: calc(100% + 5px); */
        transform: translateX(-150%);
    }
}