:root {
    --accent-coldsc: #5865F2;
    /* Discord Blurple */
    --accent-coldsc-dark: #5865F2;
    /* Darker Blurple */
    --accent-coldsc-light: #5971c8;
    /* Lighter Blurple */

    --accent-col: #2C2F33;
    /* Dark but not Black */
    --accent-col-dark: #2C2F33;
    /* Not Quite Black */
    --accent-col-light: #2b2b2b;
    /* Greyple */

    --statusCol: #43B581;
    /* Online */
    --statusCol-online: #43B581;
    /* Online */
    --statusCol-dnd: #F04747;
    /* Do Not Disturb */
    --statusCol-idle: #FAA61A;
    /* Idle */
    --statusCol-offline: #747F8D;

    --statusSYM: '🟢';
    /* Online */
    --statusSYM-online: '🟢';
    /* Online */
    --statusSYM-dnd: '🔴';
    /* Do Not Disturb */
    --statusSYM-idle: '🟠';
    /* Idle */
    --statusSYM-offline: '⚪';

    --bg-img: none;
    /* Offline */

}

.discord_card {
    width: 85vw;
    /* min-width: 439.2px; */
    max-width: 677px;
    height: 278px;
    padding: 20px;
    background-color: var(--accent-coldsc);
    transform-origin: left center;
    /* transform: translateX(9.5%); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    /* position: absolute; */
    /* box-shadow: 0 0 60px var(--accent-coldsc); */
    transition: background 0.3s ease-out;
    overflow: hidden;
    user-select: none;
    position: relative;
}


.discord_card_avatar {
    width: 152px;
    height: 152px;
    /* max-width: 12vw; */
    object-fit: cover;
    border-radius: 152px;
    border: 4px solid var(--statusCol);
    box-shadow: 0 0 60px 10px var(--statusCol);
    position: absolute;
    left: 20px;
}

.discord_card_username {
    color: var(--txt-col);
    font-family: graffiti-bold;
    font-size: 60px;
    font-weight: 600;
}

.discord_card_activities,
.discord_card_activity {
    color: var(--txtcol);
    font-family: graffiti-bold;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #99AAB5;
}

.discord_card_activities {
    background-color: var(--accent-col);
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    /* border: 10px solid var(--txtcolinv); */
    text-align: center;
    border-radius: 10px 0 0 10px;
    color: #99AAB5;
}

.discord_card_spotify,
.discord_button {
    color: var(--txtcolinv);
    font-family: graffiti-bold;
    font-size: 10px;
    font-weight: 600;
    background-color: var(--alphacol);
    border-radius: 0 10px 10px 0;
    width: 70%;

    padding: 5px;
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--accent-col) 2px solid;

    /* white-space: nowrap; */
}

.uid {
    transform: translateY(25%);
    /* overflow: visible; */
    font-size: medium;
    color: #99aab5;
    font-family: kbd;
    /* font-size: 30px; */
    /* font-weight: 600; */

}

.single_line,
.card_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.uid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-shadow: none;
    padding: 2px;
    height: fit-content;
    border-radius: 4px;
    background-color: var(--accent-col);
    opacity: 75%;

    transform: translateX(25%) translateY(125%);
    /* border: 4px solid var(--statusCol);
    box-shadow: 0 0 40px var(--statusCol); */
}

* {
    transition: background 0.3s ease-out;
}

.discord_button {
    border-radius: 10px;
    white-space: nowrap;
    padding: none;
    border-radius: 6px;
    max-width: 100%;
    position: absolute;
    bottom: 70px;
    height: 40px !important;
    width: 109px !important;
    right: 20px;
    background-color: #323878;
    color: #c3ced5
}

.small-a {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-shadow: none;
    text-decoration: none;

}

.activities {
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* border: #F04747 2px solid; */
    width: max-content;
}

.card_holder {
    width: calc(25 / 100 * 85vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.symbol {
    display: none;
}

@media (max-width: 676px) {

    .discord_card_avatar {
        display: none;
    }

    .symbol {
        display: block;
        /* border: yellow 10px solid; */
        position: absolute;
        top: 60px;
        z-index: 100;
        width: 30px;
        height: 30px;
    }

    .sym {
        
        font-size: 30px;
        /* color: var(--statusCol); */
        z-index: 100;
        width: 30px;
        height: 30px;
        /* border: var(--statusCol) 2px solid; */
    }

    .discord_card_username {
        font-size: 69px;
        position: absolute;
        /* transform-origin: left center ; */
        /* transform: translateX(calc(12.5 / 100 * 85vw)); */
        left: 20px;
        top: 0;

        /* border: 1px solid red; */
    }


    .uid {
        position: absolute;
        /* font-size: 59px; */
        /* transform: translateY(300%) translateX(calc(-12.5 / 100 * 85vw)); */
        left: 10px;
        top: 49px;
    }

    .activities {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: none;
        /* border: #F04747 2px solid; */
        width: max-content;
    }

    .discord_button {
        transform: scale(1.5) !important;
        position: inherit;
        /* bottom: 35px; */

    }

    .discord_card {
        /* background: var(--bg-img) #00000081;  */
    }
}