/* Style the FontAwesome icon */
/* .committee  i {
    margin-left: 5px;
    transition: transform 0.2s ease;
}

/* Rotate the icon on hover
.committee:hover  i {
    transform: rotate(180deg);
} */
/* Add a smooth transition to the icon rotation */
.committee i {
    margin-left: 5px;
    transition: transform 0.2s ease;
    color: #262624;
}

/* Rotate the icon on hover */
.committee i:hover {
    transform: rotate(180deg);
}

.committee-menu {
    display: none;
    position: absolute;
    top: 57.1%;
    /* left: 0px; */
    background-color: #1f1f1e;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.google_translate_element {
    display: none;
    position: absolute;
    top: 100%;
    color: #999999;
    right: 10px;
    background: #ffffff;
    backdrop-filter: blur(10px);
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.narrow-committee-list li {
    font-size: xxx-small;
    list-style: none;
    color: #333;
}

.narrow-committee-list li::before {}

.committee-menu li {

    list-style: none;
    line-height: 50px;
}

.committee-menu li a {
    list-style: none;
    line-height: 50px;
    color: #999999;
}

.committee-menu li a:hover {
    list-style: none;
    line-height: 50px;
    color: #fff;
}

/* Style the dropdown item */
.committee {
    position: relative;
    cursor: pointer;
}

.logo {
    /* width: auto;
    max-width: fit-content; */
    /* background-color: #0F0331; */
}

/* .logo a::before{
background:url(guy1.png);
background-position: 0%;
background-size: contain;
background-repeat: no-repeat;
 max-width: max-content; 
}
/* .logo a::before{
    content: '      ';
} */
.committee a {
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: background-color 0.2s ease;
}

/* .committee:hover a {
    background-color: #f2f2f2;
} */